#banner a:visited {
    color: gray;
    text-decoration: none;    
}

#banner a:visited {
    color: gray;
    text-decoration: none;    
}

#banner a:visited {
    color: gray;
    text-decoration: none;    
}